#82AFFF
#4169E1
#002366
#000032
#000019



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
    
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #002366;
    font-family: "Oswald", sans-serif;
    min-height: 100vh;
    min-width: 100vh;
}

.navegação{
    display: flex;
    color: antiquewhite;
    justify-content: center;
    align-content: center;
    font-size: 1.3rem;
    height: 5rem;
    gap: 6rem;
    border-radius: 5px;
    outline-width: 1rem;
    outline-style: solid;          /*Define como linha solida, faz a sombra do nav */
    outline-color: #000019;     /*cor da sombra */
}
.botao-nav{
    font-size: 1.5rem;
    font-weight: bold;
}
#sidebar{
    background-color: #4169E1;
    display: flex;
    position: absolute; /*define como a caixa que sobrepoe*/
    left: 0;
    width: 30rem;
    height: 83.4rem;
    border-top-right-radius: 4rem;
    z-index: 1;
    
}
.fundo{
    background-color: #000019;
    display: flex;
    position: relative; /*define como a caixa a ser sobreposta, faz a sombra*/
    top: 0.3rem;
    left: 28rem;
    border-top-right-radius: 4rem;
    width: 4rem;
    height: 83.1rem;
}
#container{
    background-color: #82AFFF;
    
}
.Letterbox{
    width: 50vw;
    height: 6.5rem;
    background-color: #4169E1;
    border-radius: 4rem;
    padding: 0;
    margin-left: 40rem;
    margin-top: -72rem;
}
.Letterbox h1{
    color: antiquewhite;
    padding-top: 1rem;
    padding-left: 4rem;
    font-size: 4rem;
}
#Letterbox-fundo{
    
}
#caixa-texto{
    background-color: #82AFFF;
    text-align: justify;
    color: antiquewhite;
    
    border-radius: 4rem;
    margin-left: 40rem;
    margin-right: 4rem;
    margin-bottom: -40rem;
}
#caixa-texto p{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 3rem;
}