#82AFFF
#4169E1
#002366
#000032
#000019

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
    
}
a{
    text-decoration: none;
    color: antiquewhite;
}
.texto{
    position: relative;
    color: antiquewhite;
    z-index: 3;
    font-size: 2rem;
    bottom: 22rem;
    left: 10rem;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #002366;
    font-family: "Oswald", sans-serif;
    height: 100%;
    width: 100%;
}
.navegação{
    display: flex;
    color: antiquewhite;
    justify-content: center;
    align-content: center;
    font-size: 1.3rem;
    height: 5rem;
    gap: 6rem;
    border-radius: 5px;
    outline-width: 1rem;
    outline-style: solid;          /*Define como linha solida, faz a sombra do nav */
    outline-color: #000019;     /*cor da sombra */
}
.botao-nav{
    font-size: 1.5rem;
    font-weight: bold;
}
#container{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Letterbox{
    position: relative;
    height: 6.5rem;
    background-color: #4169E1;
    border-radius: 4rem;
    padding-left:  4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    white-space: nowrap;
}
.Letterbox h1{
    color: antiquewhite;
    font-size: 4rem;
    padding-top: 1rem;
}
#Letterbox-fundo{
    position:relative;
    background-color: #000019;
    height: 6.5rem;
    border-radius: 4rem;
    bottom: 7rem;
    right: 3rem;
    white-space: nowrap;
    z-index: -1;
}
.caixa{
    position: relative;
    background-color: #4169E1;
    height: 12rem;
    border-radius: 2rem;
    top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
}
.caixa-fundo{
    position: relative;
    background-color: #82AFFF;
    height: 12rem;
    border-radius: 2rem;
    top: 1rem;
    left: -0.5rem;
    z-index: -1;
}
#spotify{
    position: relative;
    max-width: 85%;
    max-height: 85%;
    width: auto;
    height: auto;
    z-index: 1;
    bottom: 11rem;
    left: -3rem;
}